.container{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #24252a;
  --clr-neon-red: hsla(7, 100%, 39%, 1);
  border-bottom: hsla(7, 100%, 39%, 0.6) 1px solid;  
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav-brand,
.nav-element,
a,
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #e3e9eb;
  text-decoration: none;
}

label {
  margin: 0 20px;
  font-size: 26px;
  display: none;
}

#toggle {
  display: none;
}

.nav-brand {
  cursor: pointer;
  margin-right: auto;
  font-size: 28px;
}

.nav-elements {
  list-style: none;
}

.nav-elements .nav-element {
  display: inline-block;
  padding: 0 20px;
}

.nav-elements .nav-element a {
  transition: all 0.2s ease 0s;
}

.nav-elements .nav-element a:hover {
  text-shadow: 0 0 0.125em white, 0 0 0.45em var(--clr-neon-red);
  position: relative;
}

.nav-elements .nav-element .activeNav {
  text-shadow: 0 0 0.125em white, 0 0 0.8em var(--clr-neon-red);
  position: relative;
}

.neon{
  border: var(--clr-neon-red) 0.125em solid;
  padding: .25em 1em;
  text-shadow: 0 0 0.125em white, 0 0 0.45em var(--clr-neon-red);
  box-shadow: inset 0 0 1em 0 var(--clr-neon-red), 0 0 0.5em 0 var(--clr-neon-red);
  position: relative;
}

/****************************************************
**************** MEDIA QUERIES **********************
****************************************************/
@media screen and (max-width: 768px) {

}
